{{#extend "default"}} {{#content "main"}}
   <!-- head section -->
        <section class="page-title parallax3 parallax-fix page-title-large page-title-shop">
            <div class="opacity-light bg-dark-gray"></div>
            <img class="parallax-background-img" src="/{{slideshow.banner}}" alt="" />
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeIn">
                        <!-- page title tagline -->
                        <span class="text-uppercase white-text">{{slideshow.title}}</span>
                        <!-- end title tagline -->
                        <!-- page title -->
                        <h1 class="white-text">{{slideshow.description}}</h1>
                        <!-- end page title -->
                    </div>
                    <div class="col-md-12 col-sm-12 breadcrumb text-uppercase margin-three no-margin-bottom wow fadeIn">
                        <!-- breadcrumb -->
                        <ul>
                            <li><a class="white-text" href="#">Home</a></li>
                            <li class="white-text"><a class="white-text" href="#">Shop</a></li>
                            <li class="white-text">Collection</li>
                        </ul>
                        <!-- end breadcrumb -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end head section -->

        <!-- content section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <div class="shorting clearfix xs-margin-top-three">
                            <div class="col-md-8 col-sm-8 grid-nav">
                                <a href="/"><i class="fa fa-bars"></i></a>
                                <a href="#"><i class="fa fa-th"></i></a>
                                <p class="text-uppercase letter-spacing-1">Showing 1–12 of 22 results</p>
                            </div>

                            {{!--
                            <div class="col-md-3 col-sm-3 pull-right">
                                <div class="select-style input-round med-input shop-shorting-full no-border">
                                    <select>
                                        <option value="">Select sort by</option>
                                        <option value="">By popularity</option>
                                        <option value="">By rating</option>
                                        <option value="">Price: low to high</option>
                                        <option value="">Price: high to low</option>
                                    </select>
                                </div>
                            </div>
                            --}}
                        </div>
                        <div class="product-listing margin-three">
                            {{#each (first AllCategory.files 16) }}
	                           <div class="col-md-4 col-sm-6">
                                <div class="home-product text-center position-relative overflow-hidden margin-ten no-margin-top">
                                    <a href="/{{path}}"><img src="/{{images.0.imageUrl}}" alt=""/></a>
                                    <span class="product-name text-uppercase"><a href="/{{path}}">{{title}}</a></span>
                                    <span class="price black-text">
                                        {{#if price.previousPrice}}
                                        <del>{{#addCommas price.previousPrice}}
                                        {{/addCommas}}
                                        </del>
                                        {{/if}}
                                        {{#addCommas price.currentPrice}}
                                        {{/addCommas}} Đ
                                    </span>
                                    {{#if saleStatus}}
                                    <span class="onsale onsale-style-2">Sale</span>
                                    {{/if}}
                                    <div class="quick-buy">
                                        <div class="product-share">
                                            {{!--
                                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                            <a href="#" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Compare"><i class="fa fa-refresh"></i></a>
                                            --}}
                                            <a href="/{{path}}" class="highlight-button-dark btn btn-small no-margin-right quick-buy-btn" title="Add to Cart"><i class="fa fa-shopping-cart"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}}

                        </div>

                        {{!--
                        <!-- pagination -->
                        <div class="pagination margin-ten no-margin-bottom">
                            <a href="#"><img src="/images/arrow-pre-small.png" alt=""/></a>
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#" class="active">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#"><img src="/images/arrow-next-small.png" alt=""/></a>
                        </div>
                        --}}
                        <!-- end pagination -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end content section -->

{{/content}} {{/extend}}
