 <!-- navigation panel -->
        <nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom bg-white" role="navigation">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-md-2 pull-left"><a class="logo-light" href="/">
                      <!-- <img alt="" src="{{site.ref-domain}}images/logo-light.png" class="logo" /> -->
                      {{global.logo.name}}
                    </a>
                      <a class="logo-dark" href="/">
                        {{global.logo.name}}
                        <!-- <img alt="" src="{{site.ref-domain}}images/logo-light.png" class="logo" /> -->
                      </a></div>
                   <!-- end logo -->
                    <!-- search and cart  -->
                    <div class="col-md-2 search-cart-header pull-right">
                        <div id="top-search">
                            <!-- search input-->
                            <form method="post" action="#" name="s" class="search-form">			
                                <i class="fa fa-search close-search search-button"></i>
                                <input type="text" name="search" class="search-input" placeholder="Search...">
                            </form>
                            <!-- end search input -->
                            {{!-- 
                            <!-- nav search -->
                            <i class="fa fa-search search-button"></i>
                            <div class="subtitle">Search</div>                    
                            <!-- end nav search -->
                            --}}
                        </div>
                        <div class="top-cart">
                            <!-- nav shopping bag -->
                            <a href="#" class="shopping-cart">
                                <i class="fa fa-shopping-cart"></i>
                                <div class="subtitle">(1) Items</div>
                            </a>
                            <!-- end nav shopping bag -->
                            <!-- shopping bag content -->
                            <div class="cart-content">
                                <ul class="cart-list">
                                    <li>
                                        <a title="Remove item" class="remove" href="#">×</a>
                                        <a href="#">
                                            <img width="90" height="90" alt="" src="http://placehold.it/90x90">Leather Craft</a>
                                        <span class="quantity">1 × <span class="amount">$160</span></span>
                                        <a href="#">Edit</a>
                                    </li>
                                </ul>
                                <p class="total">Subtotal: <span class="amount">$160</span></p>
                                <p class="buttons">
                                    <a href="/shop-cart.html" class="btn btn-very-small-white no-margin-bottom margin-seven pull-left no-margin-lr">View Cart</a>
                                    <a href="/shop-checkout.html" class="btn btn-very-small-white no-margin-bottom margin-seven no-margin-right pull-right">Checkout</a>
                                </p>
                            </div>
                            <!-- end shopping bag content -->
                        </div>
                    </div>
                    <!-- end search and cart  -->
                    <!-- toggle navigation -->
                    <div class="navbar-header col-sm-8 col-xs-2 pull-right">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    </div>
                    <!-- toggle navigation end -->
                    <!-- main menu -->
                    <div class="col-md-8 accordion-menu text-right">
                        <div class="navbar-collapse collapse">
                            <ul id="accordion" class="nav navbar-nav navbar-right panel-group">
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse1" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Home <i class="fa fa-angle-down"></i></a>                      
                                    <!-- sub menu -->
                                    <ul id="collapse1" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Pre Made Homepage</li>
                                                <li><a href="/index.html">Home main</a></li>
                                                <li><a href="/home-fashion.html">Home fashion</a></li>
                                             
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- sub menu column end -->
                                        {{!--                                         <!-- sub menu column -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>       
                                                <li class="dropdown-header">Other</li>
                                                <li><a href="/home-masonry-portfolio.html">Home - masonry portfolio</a></li>
                                                <li><a href="/home-background-slider.html">Home - background slider</a></li>
                                                <li><a href="/home-full-screen-video.html">Home - full screen video</a></li>
                                                <li><a href="/home-half-screen-video.html">Home - half screen video</a></li>
                                                <li><a href="/home-text-rotator.html">Home - text rotator</a></li>
                                                <li><a href="/home-countdown-timer.html">Home - coming soon</a></li>
                                                <li><a href="/home-countdown-timer-video.html">Home - coming soon (video)</a></li>
                                                <li><a href="/home-full-width-image.html">Home - full width image</a></li>
                                                <li><a href="/home-gradient-with-image.html">Home - gradient with image</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Parallax Image / Typography</li>
                                                <li><a href="/home-parallax1.html">Parallax Image - option 1 </a></li>
                                                <li><a href="/home-parallax2.html">Parallax Image - option 2</a></li>
                                                <li><a href="/home-parallax3.html">Parallax Image - option 3 </a></li>
                                                <li><a href="/home-parallax4.html">Parallax Image - option 4</a></li>
                                                <li><a href="/home-parallax5.html">Parallax Image - option 5</a></li>
                                                <li><a href="/home-parallax.html">Full parallax home page</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Carousel slider</li>
                                                <li><a href="/home-slider-bootstrap.html">Bootstrap slider - full screen</a></li>
                                                <li><a href="/home-slider-revolution1.html">Revolution slider - full screen</a></li>
                                                <li><a href="/home-slider-revolution2.html">Revolution slider - half screen</a></li>
                                                <li><a href="/home-slider-owl1.html">owl slider - full screen</a></li>
                                                <li><a href="/home-slider-owl2.html">owl slider - half screen</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Creative Intro Pages</li>
                                                <li><a href="/intro-fashion.html">Fashion Intro</a></li>
                                                <li><a href="/intro-restaurant.html">Restaurant Intro</a></li>
                                                <li><a href="/intro-travel.html">Travel Intro</a></li>
                                                <li><a href="/intro-travel2.html">Travel Intro - V2</a></li>
                                                <li><a href="/intro-agency.html">Agency Intro</a></li>
                                                <li><a href="/intro-agency2.html">Agency Intro - V2</a></li>
                                                <li><a href="/intro-product.html">Product Intro</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li> 
                                        <!-- end sub menu column  -->
                                        --}}

                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                                {{!-- 
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse4" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse4" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Introduction</li>
                                                <li><a href="/about-us.html">About Us</a></li>
                                                <li><a href="/team-members.html">Team Members</a></li>
                                                <li><a href="/testimonials.html">Testimonials</a></li>
                                                <li><a href="/our-clients.html">Our Clients</a></li>
                                                <li><a href="/careers.html">Careers</a></li>
                                                <li><a href="/contact-us.html">Contact Us</a></li>
                                                <li><a href="/sitemap.html">Sitemap</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Utility</li>
                                                <li><a href="/services.html">Services</a></li>
                                                <li><a href="/faq.html">FAQ'S</a></li>
                                                <li><a href="/login.html">Login</a></li>
                                                <li><a href="/register.html">Register</a></li>                                                
                                                <li><a href="/404.html">Not Found (404)</a></li>
                                                <li><a href="/maintenance.html">Maintenance Page</a></li>
                                                <li><a href="/home-countdown-timer.html">Under Construction</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Page Layout</li>
                                                <li><a href="/page-full-width.html">Full Width</a></li>
                                                <li><a href="/page-full-width-wide.html">Full Width - Wide</a></li>
                                                <li><a href="/page-left-sidebar.html">Left Sidebar</a></li>
                                                <li><a href="/page-right-sidebar.html">Right Sidebar</a></li>
                                                <li><a href="/page-both-sidebar.html">Both Sidebar</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                        <!-- sub menu column  -->
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Gallery</li>
                                                <li><a href="/gallery-1columns.html">1 Columns</a></li>
                                                <li><a href="/gallery-2columns.html">2 Columns</a></li>
                                                <li><a href="/gallery-3columns.html">3 Columns</a></li>
                                                <li><a href="/gallery-4columns.html">4 Columns</a></li>

                                                <li><a href="/gallery-6columns.html">6 Columns</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>
                                        <!-- end sub menu column  -->
                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                               
                                <!-- menu item -->
                                <li class="dropdown panel"><a href="#collapse5" class="dropdown-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-hover="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
                                    <!-- sub menu -->
                                    <ul id="collapse5" class="dropdown-menu mega-menu panel-collapse collapse mega-menu-full">
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Grid</li>
                                                <li><a href="/portfolio-grid-2columns.html">2 Columns</a></li>
                                                <li><a href="/portfolio-grid-3columns.html">3 Columns</a></li>
                                                <li><a href="/portfolio-grid-4columns.html">4 Columns</a></li>
                                                <li><a href="/portfolio-grid-5columns.html">5 Columns</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Grid - Gutter</li>
                                                <li><a href="/portfolio-grid-gutter-2columns.html">2 Columns</a></li>
                                                <li><a href="/portfolio-grid-gutter-3columns.html">3 Columns</a></li>
                                                <li><a href="/portfolio-grid-gutter-4columns.html">4 Columns</a></li>
                                                <li><a href="/portfolio-grid-gutter-5columns.html">5 Columns</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Grid with Title</li>
                                                <li><a href="/portfolio-grid-with-title-2columns.html">2 Columns</a></li>
                                                <li><a href="/portfolio-grid-with-title-3columns.html">3 Columns</a></li>
                                                <li><a href="/portfolio-grid-with-title-4columns.html">4 Columns</a></li>
                                                <li><a href="/portfolio-grid-with-title-5columns.html">5 Columns</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>    
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Wide</li>
                                                <li><a href="/portfolio-wide-2columns.html">2 Columns</a></li>
                                                <li><a href="/portfolio-wide-3columns.html">3 Columns</a></li>
                                                <li><a href="/portfolio-wide-4columns.html">4 Columns</a></li>
                                                <li><a href="/portfolio-wide-5columns.html">5 Columns</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Wide - Gutter</li>
                                                <li><a href="/portfolio-wide-gutter-2columns.html">2 Columns</a></li>
                                                <li><a href="/portfolio-wide-gutter-3columns.html">3 Columns</a></li>
                                                <li><a href="/portfolio-wide-gutter-4columns.html">4 Columns</a></li>
                                                <li><a href="/portfolio-wide-gutter-5columns.html">5 Columns</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Wide with Title</li>
                                                <li><a href="/portfolio-wide-with-title-2columns.html">2 Columns</a></li>
                                                <li><a href="/portfolio-wide-with-title-gutter-3columns.html">3 Columns</a></li>
                                                <li><a href="/portfolio-wide-with-title-gutter-4columns.html">4 Columns</a></li>
                                                <li><a href="/portfolio-wide-with-title-gutter-5columns.html">5 Columns</a></li>
                                            </ul>
                                            <!-- sub menu item  -->
                                        </li>                                     
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Masonry</li>
                                                <li><a href="/portfolio-masonry-2columns.html">2 Columns</a></li>
                                                <li><a href="/portfolio-masonry-3columns.html">3 Columns</a></li>
                                                <li><a href="/portfolio-masonry-4columns.html">4 Columns</a></li>
                                                <li><a href="/portfolio-masonry-5columns.html">5 Columns</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Other</li>
                                                <li><a href="/portfolio-parallax.html">Parallax</a></li>
                                                <li><a href="/portfolio-short-description.html">With Short Description</a></li>
                                                <li><a href="/portfolio-lightbox.html">Portfolio lightbox</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li> 
                                        <li class="mega-menu-column col-sm-3">
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Single Project Page</li>
                                                <li><a href="/single-project-page1.html">Single Project Page 1</a></li>
                                                <li><a href="/single-project-page2.html">Single Project Page 2</a></li>
                                                <li><a href="/single-project-page3.html">Single Project Page 3</a></li>
                                                <li><a href="/single-project-page4.html">Single Project Page 4</a></li>
                                                <li><a href="/single-project-page5.html">Single Project Page 5</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                            <!-- sub menu item  -->
                                            <ul>
                                                <li class="dropdown-header">Ajax - Project Page</li>
                                                <li><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Single Project Page 1</a></li>
                                                <li><a href="/onepage-single-project-page2.html" class="simple-ajax-popup-align-top">Single Project Page 2</a></li>
                                                <li><a href="/onepage-single-project-page3.html" class="simple-ajax-popup-align-top">Single Project Page 3</a></li>
                                                <li><a href="/onepage-single-project-page4.html" class="simple-ajax-popup-align-top">Single Project Page 4</a></li>
                                                <li><a href="/onepage-single-project-page5.html" class="simple-ajax-popup-align-top">Single Project Page 5</a></li>
                                            </ul>
                                            <!-- end sub menu item  -->
                                        </li>  
                                    </ul>
                                    <!-- end sub menu -->
                                </li>
                                <!-- end menu item -->
                           
                                --}}  
                            </ul>
                        </div>
                    </div>
                    <!-- end main menu -->
                </div>
            </div>
        </nav>
        <!--end navigation panel --> 
